<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/css/reset.css">
    <link rel="stylesheet" href="../../assets/css/JBlog.css">
</head>
<body>
    <div id="wrap"> <!-- 전체 레이아웃 만들기 -->

        <!-- 헤더 -->
        <div id="header" class="clearfix">
            <!--로고-->
            <h1><img src="../../assets/image/logo.jpg" alt="JBlog"></h1>

            <!-- 로그인 관련 버튼 -->
            <ul class="clearfix">
                <li><a href="../user/loginForm.html">로그인</a></li>
                <li><a href="../user/signup.html">회원가입</a></li>
            </ul>
        </div>
        <!-- //헤더 끝남 -->

        <!-- 네비(상단메뉴 GNB)-->
        <div id="nav">
            
        </div>
        <!-- //네비(상단메뉴 GNB) 끝남-->
</body>
</html>