@charset "UTF-8";

input,
textarea,
select {
    font-family: 맑은 고딕;
    font-size: 15px;
}

a:link {
    color: #000000;
    text-decoration: none;
}

a:visited {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #000000;
    text-decoration: none;
}

a:active {
    color: #000000;
    text-decoration: none;
}

body {
    padding: 10px;
    font-family: "맑은 고딕";
    font-size: 12px;
    background-color: #808080;
}

.content {
    width: 700px;
    background-color: #fff;
}

.content h3 {
    font-size: 18px;
    font-size: bold;
    padding-bottom: 10px;
}

.content ol {
    margin-bottom: 20px;
}

.content ol>li {
    float: left;
}

.content ol>li::after {
    content: ">";
}

.content ol>li:last-child::after {
    content: "";
}

.content .form-group {
    padding: 12px 0;
    border-bottom: 1px solid #000;
}

.content .form-text {
    /*여러곳에서 사용*/
    display: inline-block;
    /*왜 inline-block?*/
    width: 120px;
    font-size: 12px;
    text-align: center;
    vertical-align: top;
    
}

#address2 {
    width: 450px;
    margin: 10px 0 0 124px;
}

/*공개범위 라디오버튼 name속성 사용*/
.content .form-group input[name="age"] {
    margin-right: 15px;
    vertical-align: middle;
}

.content .form-group input[name="blood"] {
    margin-right: 15px;
    vertical-align: middle;
}

.content .form-group input[name="hobby"] {
    margin-right: 20px;
    vertical-align: middle;
}

.content .form-group .txt-content {
    width: 450px;
    height: 100px;
}

.content .form-group span~label{
    font-size: 15px;
    font-family: 맑은 고딕;
}

.content .btn-group {
    border-top: 1px solid #000;
    text-align: center;
    padding: 10px 0px;
}

/*버튼*/
.content .btn-group button {
    width: 120px;
    height: 40px;
    padding: 10px;
}

#postalcode{
    width: 120px;
    height: 25px;
    vertical-align:6%;
}