<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>게시판</title>
    <link rel="stylesheet" href="../../assets/css/reset.css">
    <link rel="stylesheet" href="../../assets/css/mysite.css">
    <link rel="stylesheet" href="../../assets/css/gallary.css">
</head>

<body>
    <div id="wrap"> <!-- 전체 레이아웃 만들기 -->

        <!-- 헤더 -->
        <div id="header" class="clearfix">
            <!--로고-->
            <h1><a href="../main/index.html">MySite</a></h1>

            <!-- 로그인 관련 버튼 -->
            <ul class="clearfix">
                <li><a href="../user/loginForm.html">로그인</a></li>
                <li><a href="../user/signup.html">회원가입</a></li>
            </ul>
        </div>
        <!-- //헤더 끝남 -->

        <!-- 네비(상단메뉴 GNB)-->
        <div id="nav">
            <ul class="clearfix">
                <li><a href="#">입사지원서</a></li>
                <li><a href="./list.html">게시판</a></li>
                <li><a href="./galary.html">갤러리</a></li>
                <li><a href="./guestbook.html">방명록</a></li>
            </ul>
        </div>
        <!-- //네비(상단메뉴 GNB) 끝남-->

        <!-- 컨텐츠 -->
        <div id="contents2" class="clearfix">
            <div id="aside">
                <h2>갤러리</h2>
                <ul>
                    <li><a href="./galary.html">일반갤러리</a></li>
                    <li><a href="#">파일첨부연습</a></li>
                </ul>
            </div>
            <div id="main" class="clearfix">
                <!-- 게시판제목 -->
                <h3>일반갤러리</h3>

                <!-- 빵부스러기-->
                <ul class="clearfix">
                    <li><a href="../main/index.html">홈</a></li>
                    <li><a href="./galary.html">갤러리</a></li>
                    <li><a href="./galary.html">일반갤러리</a></li>
                </ul>
            </div>
            <!-- 올리기 버튼 -->
            <div class="form-box">
                <div id="upimg" class="clearfix">
                    <button id="btn-upimg">이미지올리기</button>
                </div>
            </div>
            <div id="gal-field">
                <table id="gal-table">
                    <tbody>
                        <tr>
                            <td><img src="../../assets/image/Gangho-dong.jpg" class="photo" alt="강호동">
                                <figcaption>작성자: 유재석</figcaption></td>
                            <td><img src="../../assets/image/Jeongjae-Lee.jpg" class="photo" alt="이정재">
                                <figcaption>작성자: 유재석</figcaption></td>
                            <td><img src="../../assets/image/JeonSoMin.jpg" class="photo" alt="전소민">
                                <figcaption>작성자: 유재석</figcaption></td>
                            <td><img src="../../assets/image/JiseokJin.jpg" class="photo" alt="지석진">
                                <figcaption>작성자: 유재석</figcaption></td>
                        </tr>
                        <tr>
                            <td><img src="../../assets/image/JungWooSung.jpg" class="photo" alt="정우성">
                                <figcaption>작성자: 유재석</figcaption></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- //컨텐츠 끝남 -->

        <div id="footer">
            <p>Copyright &#169; 2024 함&nbsp;민규. All right reserved</p>
        </div>
    </div>
</body>

</html>