<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>게시판</title>
    <link rel="stylesheet" href="../../assets/css/reset.css">
    <link rel="stylesheet" href="../../assets/css/mysite.css">
    <link rel="stylesheet" href="../../assets/css/edituser.css">
</head>

<body>
    <div id="wrap"> <!-- 전체 레이아웃 만들기 -->

        <!-- 헤더 -->
        <div id="header" class="clearfix">
            <!--로고-->
            <h1><a href="../main/index.html">MySite</a></h1>

            <!-- 로그인 관련 버튼 -->
            <ul class="clearfix">
                <li><a href="./loginForm.html">로그인</a></li>
                <li><a href="./signup.html">회원가입</a></li>
            </ul>
        </div>
        <!-- //헤더 끝남 -->

        <!-- 네비(상단메뉴 GNB)-->
        <div id="nav">
            <ul class="clearfix">
                <li><a href="#">입사지원서</a></li>
                <li><a href="../board/list.html">게시판</a></li>
                <li><a href="../board/galary.html">갤러리</a></li>
                <li><a href="../board/guestbook.html">방명록</a></li>
            </ul>
        </div>
        <!-- //네비(상단메뉴 GNB) 끝남-->

        <!-- 컨텐츠 -->
        <div id="contents2" class="clearfix">
            <div id="aside">
                <h2>회원</h2>
                <ul>
                    <li><a href="./editUser.html">회원정보</a></li>
                    <li><a href="./loginForm.html">로그인</a></li>
                    <li><a href="./signup.html">회원가입</a></li>
                </ul>
            </div>
            <div id="main" class="clearfix">
                <!-- 게시판제목 -->
                <h3>회원정보</h3>

                <!-- 빵부스러기-->
                <ul class="clearfix">
                    <li><a href="../main/index.html">홈</a></li>
                    <li><a href="./loginForm.html">회원</a></li>
                    <li><a href="./editUser.html">회원정보</a></li>
                </ul>
            </div>
            <!-- 방문자 정보 -->
            <div id="edit_field">
                <div id="edit_form">
                    <ul class="edit_fix" class="clearfix">
                        <li><label>아이디</label></li>
                        <li><label for="user_pw">비밀번호</label></li>
                        <li><label for="user_name">이름</label></li>
                        <li><label for="user_gender">성별</label></li>
                    </ul>
                    <ul id="edit_input">
                        <li><strong>userid</strong></li>
                        <li><input id="user_pw" type="password" placeholder="비밀번호를 입력하세요"></li>
                        <li><input id="user_name" type="text" placeholder="이름을 입력하세요"></li>
                        <li id="gender">
                            <label for="boy">남</label>
                            <input id="boy" type="radio" name="gender">
                            <label for="girl">여</label>
                            <input id="girl" type="radio" name="gender">
                        </li>
                    </ul>
                    <div id="edit_sub">
                        <button id="btn_edit">회원정보수정</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- //컨텐츠 끝남 -->

        <div id="footer">
            <p>Copyright &#169; 2024 함&nbsp;민규. All right reserved</p>
        </div>
    </div>
</body>

</html>