<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>MySite</title>
    <link rel="stylesheet" href="../../assets/css/reset.css">
    <link rel="stylesheet" href="../../assets/css/mysite.css">
</head>

<body>
    <div id="wrap"> <!-- 전체 레이아웃 만들기 -->

        <!-- 헤더 -->
        <div id="header" class="clearfix">
            <!--로고-->
            <h1>MySite</h1>

            <!-- 로그인 관련 버튼 -->
            <ul class="clearfix">
                <li><a href="#">로그인</a></li>
                <li><a href="#">회원가입</a></li>
            </ul>
        </div>
        <!-- //헤더 끝남 -->

        <!-- 네비(상단메뉴 GNB)-->
        <div id="nav">
            <ul class="clearfix">
                <li>입사지원서</li>
                <li>게시판</li>
                <li>갤러리</li>
                <li>방명록</li>
            </ul>
        </div>
        <!-- //네비(상단메뉴 GNB) 끝남-->

        <!-- 컨텐츠 -->
        <div id="contents" class="clearfix">
            <img id="profile" src="../../assets/image/jung.jpg">

            <div id="greeting-box">
                <p class="greeting">
                    안녕하세요!!<br>
                    함민규의 MySite에 오신 것을 환영합니다.<br>
                    <br>
                    이 사이트는 웹 프로그래밍 실습과제 예제 사이트입니다.
                </p>
                <p>
                    사이트 소개, 회원가입, 방명록, 게시판으로 구성되어 있으며<br> 
                    jsp&serlvet(모델2) 방식으로 제작되었습니다.<br>
                    <br>
                    자바 수업 + 데이터베이스 수업 + 웹프로그래밍 수업<br> 
                    배운거 있는거 없는거 다 합쳐서 만들어 놓은 사이트입니다.<br>
                    <br>
                    (자유롭게 꾸며보세요!!)<br>
                    <br><br>
                    <a href="#">[방명록에 글 남기기]</a>
                </p>
            </div>
        </div>
        <!-- //컨텐츠 끝남 -->

        <div id="footer">
            <p>Copyright &#169; 2024 함&nbsp;민규. All right reserved</p>
        </div>
    </div>
</body>

</html>